.search-result {
    color: #3d3d3d;
    font-size: 18;
    margin: 10 0 5 0;
    text-align: center;
}

.list-item {
    padding: 10;
}

.nav-text {
    font-size: 14;
    margin: 5 0 5 5;
    text-align: center;
    vertical-align: center;
}

.nav-button {
    background-color: #3598db;
    color: #ffffff;
    padding: 3 0;
    margin: 3 10;
    font-size: 16;
    border-radius: 2;
    height: 50;
}